@import '_variables.scss';

body {
  background-color: $restaurant-background;
  margin: 2rem;
}

.flex-container {
  display: flex;
  flex-flow: column;
}

#content-container, #header-container {
  color: $restaurant-font-color;
  text-shadow: 0.5px 0.5px #2d0900;
}

#header-container {
  align-self: center;
}

#content-container > .content {
  margin:0 15%;
  text-align: center;
}

.tab-list {
  margin: 0 -2rem;
  text-align: center;
  background-color: $restaurant-background-contrast;
}

.tab-btn {
  padding: 3px 5px 0 5px;
  margin: 0 -2.5px 0 -2.5px;
}

.content {
  div > p {
    margin: 0;
  }
}

.menu-item {
  display: grid;
  grid-template-columns: [crab] 25% [price] 25%;
  margin: 20px 0 0 25%;
  > img {
    height: auto;
    width: 150px;
  }
}

.quote {
  font-weight: bold;
  margin: 40vh 0 0 -2rem;
  background-color: $restaurant-background-contrast;
  color: $restaurant-font-color;
  width: 100vw;
  text-align: center;
  .quote-author {
    font-weight: normal;
    font-style: italic;
  }
}

input {
  visibility: hidden;
  &:checked + label {
    color: $restaurant-background;
    background-color: $restaurant-font-color;
  }
}

label {
  cursor: pointer;
}

footer {
  background-color: $restaurant-background;
}

.github-logo {
  height: 25px;
  width: 25px;
  margin: 7px 90% 0 0;
}
